.header-color {
  background: #780206; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #780206,
    #061161
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #780206,
    #061161
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.landing-grid {
  background: #780206; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #780206,
    #061161
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #780206,
    #061161
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.projects-grid {
  display: flex;
}

/* Resume Page css */
.resume-right-col {
  background: #27221f;
  color: white;
  padding: 2em;
  border-radius: 10px;
}

/* contact page css */

.contact-body {
  margin: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 4em;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 60%;
  height: 550px;
  color: black;
  margin-bottom: 20px;
}

.contact-grid h2 {
  font-family: 'Anton', sans-serif;
}

.contact-grid p {
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
}

.contact-grid hr {
  border: 2px double #061161;
  width: 100%;
  margin: auto;
  margin-bottom: 25px;
}

.contact-form {
  display: grid;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding: 2em;
}

.contact-form input,
.contact-form textarea {
  width: 400px;
  display: block;
  border: 2px solid #061161;
  border-radius: 5px;
  padding: 5px 10px;
  font-family: 'proxima nova';
  letter-spacing: 0.25px;
  font-size: 1em;
  justify-self: center;
}

.contact-form input {
  margin-bottom: 31px;
  height: 25px;
  font-weight: bold;
}
.contact-form input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 100px #0611613a inset;
}

.contact-form textarea {
  height: 125px;
  margin-bottom: 30px;
}

.contact-form label {
  color: black;
  font-size: 1.1em;
  text-transform: capitalize;
  margin-bottom: 7.5px;
  display: inline-block;
}

.contact-form button {
  width: 60%;
  height: 40px;
  justify-self: center;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: #061161 !important;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

@media only screen and (max-width: 475px) {
  .contact-form input,
  .contact-form textarea {
    width: 90%;
  }
}

.modal-body {
  display: block;
  height: 75px;
  position: relative;
  text-align: center;
  border: none;
}
.modal-body__text {
  text-align: center;
  vertical-align: middle;
  line-height: 1.1em;
  margin-top: 60px;
  padding: 0 10px;
}

/* contact page css */

.logo-img {
  height: 250px;
  padding-top: 5em;
  padding-bottom: 4em;
  /* filter: invert(100%); */
}

.portrait-img {
  height: 400px;
  border-radius: 50%;
  /* padding-top: 5em;
  padding-bottom: 4em; */
  /* filter: invert(100%); */
}

.banner-text {
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0.6;
  width: 50%;
  margin: auto;
  border-radius: 10px;
  padding: 2em;
}

.banner-text h1 {
  font-size: 66px;
  font-weight: bold;
  color: white;
}

.banner-text hr {
  border: 2px double white;
  width: 60%;
  margin: auto;
}

.banner-text p {
  color: white;
  font-size: 20px;
  /* padding: 1em; */
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links i {
  color: white;
  font-size: 5em;
  padding: 8px;
}

.form-error {
  color: #ff735b;
  margin: 5px 0 10px;
}

.form-error:last-of-type {
  margin-bottom: 15px;
}
